@import '~bootstrap/scss/bootstrap';

$background-color: #FAF3DD;
$font-color: #929487;
$border-color: #75A77E;



body {
  background: $background-color;
  color: $font-color;
}

footer {
  background: $border-color;
  color: $background-color;
  text-align: right;
  padding: 5px;
}

a {
  color: inherit;
}

a:hover {
  color: #C6DEA6;
  text-decoration: none;
}

.info {
  text-align: center;
  color: $background-color;
  background-color: $border-color;
  margin: 0 auto;
  width: 300px;
}

.dilemma {
  width: 300px;
}

.notify {
  text-align: center;
  color: $border-color;
}

.grid {
  width: 300px;
  height: 300px;
}

.board {
  border-style: solid;
  border-color: $border-color;
  text-align: center;
  height: 100px;
  font-size: 50px;
  padding-top: 5px;
  padding-bottom: 25px;
}

.margin-top-5 {
  margin-top: 5px;
}

.auth {
  text-align: center;
}

.centered-container {
  width: 40%;
  margin: 0 auto;
}

.reset {
  text-align: center;
  margin-bottom: 20px;
}

.history {
  text-align: center;
}

.hidden {
  display: none;
}

.margin-top {
  margin-top: 15px;
}

.center {
  text-align: center;
}

.clear-margin {
  margin: 0;
}

.clear-padding {
  padding: 0;
}

.no-border-left {
  border-left-style: none;
}

.no-border-right {
  border-right-style: none;
}

.no-border-top {
  border-top-style: none;
}

.no-border-bottom {
  border-bottom-style: none;
}

.reveal-auth-div {
  padding-top: 25px;
  padding-bottom: 50px;
}

.thin-border {
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  padding: 5px;
}

.inversion {
  background-color: $border-color;
  color: $background-color;
}

.btn-outline-primary {
  color: $border-color;
  border-color: $border-color;
}

.btn-outline-primary:hover {
  color: #C6DEA6;
  border-color: $border-color;
  background: $border-color;
}

.btn-outline-primary:checked {
  color: #C6DEA6;
  border-color: $border-color;
  background: $border-color;
}

.btn-outline-secondary {
  color: $background-color;
  border-color: $background-color;
}

.btn-outline-secondary:hover {
  color: $border-color;
  border-color: $background-color;
  background: $background-color;
}

.inline {
  display: inline;
}

.btn-group {
  margin-top: -12px;
}

@media screen and (min-width: 600px) {
  .grid {
    width: 375px;
    height: 375px;
  }
  .board {
    height: 125px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .info {
    width: 375px;
  }
  .dilemma {
    width: 375px;
  }
}

@media only screen and (min-width: 768px) {
  .grid {
    width: 375px;
    height: 375px;
  }
  .board {
    height: 125px;
    font-size: 50px;
  }
  .info {
    width: 375px;
  }
}
