@import '~bootstrap/scss/bootstrap';
@font-face {
  font-family: 'PressStart2P';
  src: url('../../../public/PressStart2P.ttf') format('truetype');
};

$background-color: #000;
$font-color: #FFD23F;
$border-color: #FFD23F;

body {
  background: $background-color;
  color: $font-color;
  font-family: 'PressStart2P';
}

.info {
  text-align: center;
  color: $background-color;
  background-color: $border-color;
  margin: 0 auto;
  width: 40%;
}

.notify {
  text-align: center;
  color: $border-color;
}

.container {
  width: 40%;
}
.board {
  border-style: solid;
  border-color: $border-color;
  padding-top: 12.5%;
  padding-bottom: 12.5%;
  text-align: center;
}

.center {

}

.bottom-row {

}

.auth {
  text-align: center;
}

.reset {
  text-align: center;
  margin-bottom: 20px;
}

.history {
  text-align: center;
}

.hidden {
  display: none;
}

.margin-top {
  margin-top: 15px;
}

.center {
  text-align: center;
}

.clear-margin {
  margin: 0;
}

.clear-padding {
  padding: 0;
}
